.food-munnch {
    height: 70px;
    width: 70px;
}

#id1 {
    font-family: Roboto;
    font-size: 15px;
    color: black;

}

#id2 {
    font-family: Roboto;
    font-size: 15px;
    color: black;
}

#id3 {
    font-family: Roboto;
    font-size: 15px;
    color: black;

}

#id4 {
    font-family: Roboto;
    font-size: 15px;
    color: black;
}

.banner-bg-container {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png');
    height: 90vh;
    background-size: cover;
}

.heading {
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.para {
    font-family: Roboto;
    font-size: 30px;

    color: white;

}

.btn-1 {
    border-radius: 5px;
    background-color: #d0b200;
    color: white;
    border-width: 0px;
    margin-right: 10px;
    height: 40px;

}

.btn-2 {
    border-radius: 5px;
    background-color: transparent;
    color: #d0b200;
    border-width: 0px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    height: 40px;
}

.section-1 {
    background-color: #f9fbfe;
}

.card-1 {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;

}

.h1 {
    color: #183b56;
    ;
}

.p {
    color: #5a7184;
}
.headingg{
    padding: 10px;
    margin-top: 10px;

}